{% extends "base.html" %}
{% load static %}
   
{% block content %}
    <section class="home-section" style="background-image: url('{% get_media_prefix %}backgroundhome.jpg');">
        <div class="container text-center">
            <h1 class="display-4 text-white">Change Your Life</h1>
            <p class="lead text-white">Join now and embark on a journey to a healthier, happier you.</p>
            <a href="#" class="btn btn-primary btn-lg">Join Now!</a>
        </div>
    </section>
{% endblock %}