{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="aboutusbck" style="background-image: url('{% get_media_prefix %}aboutusbackground.jpg')">
    <div class="jumbotron text-center">
        <h1 class="display-4">Testimonials</h1>
        <p class="lead">See what our customers are saying about us!</p>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="get" action="{% url 'add_testimonial' %}">
                        <button type="submit" class="btn btn-primary">Write Your Testimonial Here</button>
                    </form>
                    <br>
                    <form method="get" action="{% url 'testimonial_list' %}">
                        <label for="rating">Filter by Rating:</label>
                        <select name="rating" id="rating">
                            <option value="" selected>All Ratings</option>
                            <option value="1">1 star</option>
                            <option value="2">2 stars</option>
                            <option value="3">3 stars</option>
                            <option value="4">4 stars</option>
                            <option value="5">5 stars</option>
                        </select>
                        <button type="submit" class="btn btn-info btn-sm">Filter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- List of Testimonials -->
  
    <div class="container">
        <div class="row">
            {% for testimonial in testimonials %}
                <div class="col-md-6">
                    <div class="card my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ testimonial.name }}</h5>
                            <p class="card-text">{{ testimonial.content }}</p>
                            <p class="card-text">Rating: 
                                {% for _ in testimonial.filled_stars %}
                                    <i class="fas fa-star text-warning"></i>
                                {% endfor %}
                                {% for _ in testimonial.empty_stars %}
                                    <i class="far fa-star text-muted"></i>
                                {% endfor %}
                            </p>
                            <p class="card-text"><small class="text-muted">{{ testimonial.created_at }}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
