@import url('https://fonts.googleapis.com/css2?family=Onest:wght@600&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Onest', sans-serif;
    padding-top: 70px; 
}


.navbar {
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.navbar {
    background-color: #ffffff; 
    padding: 15px 20px;
}

.navbar-brand {
    font-size: 2rem;
    color: #fff; 
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #fff; 
    transition: color 0.3s ease;
}

.navbar-nav .nav-link.active {
    color: #404040; 
}

.navbar-nav .nav-link:hover {
    color: #ecf0f1;
}

.navbar {
    box-shadow: 0 4px 6px -6px #222;
}

.navbar-nav .dropdown-menu {
    font-size: 14px; 
}

.navbar-nav .dropdown-item {
    padding: 5px 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.home-section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-shadow: 2px 1px 4px rgb(0, 0, 0);
    transition: color 0.5s ease;
    animation: fadeIn 1s ease-out; 
}

.aboutusbck {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    transition: color 0.5s ease;
    animation: fadeIn 1s ease-out; 
}

.loc-section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    animation: fadeIn 1s ease-out;  
}


.loc-section table.table {
    width: 100% !important;
    border-collapse: collapse !important;
    border: 1px solid #dee2e6 !important;
    background-color: #f8f9fa !important;
    border-radius: 8px !important;
    text-shadow: none !important;
}

.loc-section table.table th, .loc-section table.table td {
    padding: 8px !important;
    text-align: left !important;
    border: 2px solid black !important;
}

.loc-section table.table th {
    background-color: #6c757d !important;
    color: #ffffff !important;
    border: 2px solid black !important;
}



.embed-responsive {
    border: 2px solid #030303; 
    border-radius: 0px; 
    overflow: hidden; 
}

.embed-responsive iframe {
    border: none; 
}

.container-fluid.bg-dark.text-white {
    background-color: #343a40; 
    color: white;
    padding: 20px 0; 
    margin-top: auto; 
}

.container-fluid.bg-dark.text-white a {
    color: white; 
}

.container-fluid.bg-dark.text-white p {
    margin-bottom: 0; 
}



.formsbck {
    min-height: 100vh;
    background-image: url('/static/images/formbck.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    position: relative;
    animation: fadeIn 1s ease-out;
}



@media (max-width: 767px) {
    .embed-responsive-16by9 {
        padding-bottom: 150%;
    }
}