{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="aboutusbck" style="background-image: url('{% get_media_prefix %}aboutusbackground.jpg')">
    <div class="container about-us-section">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Subscriptions</h1>
        </div>

        <div class="row">
            {% for subscription in subscriptions %}
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <!-- Placeholder for icons, assign based on subscription type -->
                            {% if subscription.subscription_type == 'BA' %}
                                <i class="fas fa-dumbbell fa-5x mb-3"></i>
                            {% elif subscription.subscription_type == 'PR' %}
                                <i class="fas fa-heartbeat fa-5x mb-3"></i>
                            {% elif subscription.subscription_type == 'EL' %}
                                <i class="fas fa-star fa-5x mb-3"></i>
                            {% endif %}
                            <h5 class="card-title">{{ subscription.subscription_title }}</h5>
                            <p class="card-text">{{ subscription.subscription_desc }}</p>
                            <p class="card-text">£{{ subscription.subscription_price }}/month</p>
                            {% if subscription.subscription_type == current_subscription %}
                                <button class="btn btn-secondary" disabled>Subscribed</button>
                                <a href="{% url 'subscriptions:cancel_subscription' %}" class="btn btn-danger">Cancel</a>
                            {% else %}
                                <a href="{% url 'create-checkout-session' %}?type={{ subscription.subscription_type }}" class="btn btn-primary">Subscribe</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
