{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/payment_form.css' %}" />

  <div class="container my-5">
    <div class="content-wrapper">
      <div id="price-display" class="price-container">
        <h3>{{ subscription.subscription_title }}</h3>
        <p>{{ subscription.subscription_desc }}</p>
        <h3>Amount to Pay: £ {{ subscription.subscription_price|floatformat:2 }}</h3>
      </div>
      <div class="payment-form">
        <div class="form-title">Pay with card</div>
        <form id="payment-form">
          <input type="email" id="email" class="StripeElement" placeholder="Email Address" required />
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>
          <div id="card-errors" role="alert"></div>
          <input type="text" id="cardholder_name" class="StripeElement" placeholder="Cardholder name" required />
          {% include 'country_list.html' %}
          <input type="text" id="zip" class="StripeElement" placeholder="ZIP" required />

          <input type="hidden" id="amount" name="amount" value="{{ subscription.subscription_price }}" /> 
          <input type="hidden" id="subscription_id" name="subscription_id" value="{{ subscription.id }}" />
          


          <button type="submit">Pay Now</button>
          <button class="button_cancel" onclick="location.href='{% url 'subscriptions:subscriptions_view' %}'">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    var stripe = Stripe('{{ stripe_public_key }}')
    var elements = stripe.elements()
    var style = {
      base: {
        color: '#32325d',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    }
    var card = elements.create('card', { style: style })
    card.mount('#card-element')
    
    var form = document.getElementById('payment-form')
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      stripe.createToken(card).then(function (result) {
        if (result.error) {
          var errorElement = document.getElementById('card-errors')
          errorElement.textContent = result.error.message
        } else {
          stripeTokenHandler(result.token)
        }
      })
    })
    
    function stripeTokenHandler(token) {
        // Retrieve the amount, ensuring it's parsed as an integer
        var amountInput = document.getElementById('amount').value; // This should be in cents
        var amount = parseInt(amountInput, 10); // Convert to integer
    
        // Ensure amount is not NaN and is a positive integer
        if (isNaN(amount) || amount <= 0) {
            console.error("Invalid amount.");
            return; // Optionally, update the UI to inform the user
        }
    
        var subscriptionId = document.getElementById('subscription_id').value;
    
        fetch('/checkout/process-payment/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({
                stripeToken: token.id,
                amount: amount, 
                subscription_id: subscriptionId,
            })
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            if (data.error) {
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = data.error;
            } else {
                alert('Payment successful!');
                window.location.href = '{% url 'subscriptions:subscriptions_view' %}';
            }
        })
        .catch(function (error) {
            console.error('Error:', error);
        });
    }
    
    
    // Helper function to get CSRF token value
    function getCookie(name) {
      let cookieValue = null
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';')
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim()
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
            break
          }
        }
      }
      return cookieValue
    }
  </script>
{% endblock %}
